<%- include('header', {currentMenu: 'general-view', pageTitle: 'General View'}); %>
    <div class="row">
        <div class="col-12">
            <%- include('general_layouts/'+system_general_layout_no+'/general.svg') %>
            <%- include('general_layouts/'+system_general_layout_no+'/common_html.ejs') %>
        </div>
    </div>
    <div class="row m-0">
        <div class="col-lg-12 pt-0 pb-0 pl-2 pr-2 mt-2">
            <%- include('components/active_alarm_content') %>
        </div>
    </div>
</div>
<%- include('footer', {currentMenu: 'general-view'}); %>
<style>
    .switch {
        position: relative;
        display: inline-block;
        width: 48px;
        height: 24px;
    }
    .switch > input {
        opacity: 0;
        width: 0;
        height: 0;
    }
    .switch > span {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
    }
    .switch > span:before {
        position: absolute;
        content: "";
        height: 20px;
        width: 20px;
        left: 1px;
        bottom: 2px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }

    .switch > input:checked + span {
        background-color: #2196F3;
    }
    .switch > input:focus + span {
        box-shadow: 0 0 1px #2196F3;
    }
    /*For click animation*/
    .switch > input:checked + span:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
    }
    .switch.switch-round span {
        border-radius: 15px;
    }
    .switch.switch-round span:before {
        border-radius: 50%;
    }
</style>
<script src="js/jquery-bootstrap.js"></script>
<script src="js/jquery.newsTicker.js"></script>
<script src="js/daterangepicker/moment.min.js"></script>
<script src="js/nav.js"></script>

<script>
let basic_info={}


jQuery(document).ready(function() {
    $('[data-toggle="tooltip"]').tooltip();
    loadAndGetDetailedActiveAlarmSettings();//nav.js

    jQuery("#ip_list_dropdown").change(function() {
        selected_machine = jQuery(this).val();
        if(selected_machine !== "") {
            let selected_machine_name = machine_list[selected_machine];
            jQuery("#display_machine_name").text(selected_machine_name);
        }
        else {
            jQuery("#display_machine_name").text("Select a machine");
            selected_machine = 0;
        }
        ipcRenderer.send("get:views", selected_machine, "general-view");
    });
});

ipcRenderer.on("render:general-view", function(e, data) {
    basic_info=data;
    setBinsLabel(data['binsInfo'],basic_info['hmiSettings']['general_layout_no']);//nav.js
    setPhotoeyesLabel(data['inputsInfo']);//nav.js
    setConveyorsLabel(data['conveyorsInfo']);//nav.js

    $('.bin.cursor-pointer').on('click',function (){
        let key=$(this).attr('bin-key');
        ipcRenderer.send("render:general-view-bin-details", selected_machine,key);
    })
    ipcRenderer.send("sendRequest", selected_machine,'getIoOutputStates', {});
});
ipcRenderer.on("getIoOutputStates", function(e, data) {
    setTestButtonsStatus(data['ioOutputStates']);
    ipcRenderer.send("sendRequest", selected_machine,'getGeneralViewData', {});//for fixing waiting 1sec
    setInterval(() => {
        ipcRenderer.send("sendRequest", selected_machine,'getGeneralViewData', {});
    }, 1000);
})
ipcRenderer.on("getGeneralViewData", function(e, data) {
    let machineId=data['machineId'];
    setBinsStates(machineId,data['binsStates'],basic_info['binsInfo']);//nav.js
    setPhotoeyesStates(machineId,data['inputsStates'],basic_info['inputsInfo']);//nav.js
    setConveyorsStates(machineId,data['conveyorsStates'],basic_info['conveyorsInfo']);//nav.js
    setDoorsStates(machineId,data['inputsStates'],basic_info['doorsInfo']);//nav.js
    setActiveAlarms(machineId,data['activeAlarms'],basic_info['alarmsInfo'])

});
</script>
</body>
</html>