<%- include('header', {currentMenu: 'general-view-motors', pageTitle: 'Motors'}); %>
    <div class="row m-0 mt-1">
        <div class="col-4" style="padding:0 50px;text-align: center;">
			<%- include('resources/general-view-colors.svg') %>
        </div>
        <div class="col-8  position-relative" style="padding:0 50px 0 0;text-align: center;">
			<%- include('resources/general-view-motors.svg') %>
            <div class="position-absolute" style="right: 100px;top:90px;z-index: 1"><%- include('components/machine_command_buttons'); %></div>
            <div id="motor-details" class="position-absolute" style="width: 350px;height:270px;top:162px;left:255px; border: 1px solid black;display: none;z-index: 2;background-color: white;">
                <table class="table" style="margin: 0">
                    <tbody>
                        <tr>
                            <td>
                                <span>Cnx</span>
                                <svg height="20" width="20">
                                    <circle id="cnx_status" cx="8.75" cy="8.75" r="7.304" stroke="black" stroke-width="1" fill="#fff"></circle>
                                </svg></td>
                            <td>
                                <span>Faulted</span>
                                <svg height="20" width="20">
                                    <circle id="faulted_status" cx="8.75" cy="8.75" r="7.304" stroke="black" stroke-width="1" fill="#fff"></circle>
                                </svg></td>
                            <td class="text-right">
                                <button id="close" class="button-3d button-rectangle cursor-pointer" style="width: 25px;height: 25px;padding: 0;" >
                                    <svg  style="vertical-align: inherit;" height="25" width="25">
                                        <line x1="5" y1="5" x2="20" y2="20" style="stroke:#fff;stroke-width:2" />
                                        <line x1="20" y1="5" x2="5" y2="20" style="stroke:#fff;stroke-width:2" />
                                    </svg>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div style="padding:0px 20px;">
                    <table class="table table-sm table-bordered">
                        <tbody>
                            <tr>
                                <td id="motor_name">-</td>
                                <td id="location">-</td>
                            </tr>
                            <tr>
                                <td id="ip_address">-</td>
                                <td id="current_speed">-</td>
                            </tr>
                            <tr id="tr_speed">
                                <td colspan="2">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">Set Speed</span>
                                        </div>
                                        <input id="speed" type="text" class="form-control text-right float_positive" value="0">
                                        <div class="input-group-append">
                                            <span class="input-group-text">m/s</span>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div id="command_buttons_container" style="padding:0px 20px;">
                    <table class="table table-sm table-borderless">
                        <tbody>
                        <tr>
                            <td><button id="button-motor-start" class="button-3d button-rectangle">Start</button></td>
                            <td ><button id="button-motor-stop" class="button-3d button-rectangle">Stop</button></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div id="speed_error" class="text-danger" style="display: none;">Invalid Speed.Range[min: <span id="speed_min"></span> max: <span id="speed_max"></span>]</div>
            </div>
            <div class="position-absolute" style="right: 95px;top:550px;z-index: 1">
                <button class="door door-lock button-device-command button-3d button-rectangle" style="width: 40px;height: 36px;display: none;" data-device-id="94" data-command="1" data-parameter1="0"><i style="font-size: 22px;" class="bi bi-lock-fill"></i></button>
                <button class="door door-unlock button-device-command button-3d button-rectangle" style="width: 40px;height: 36px;display: none;" data-device-id="94" data-command="0" data-parameter1="0"><i style="font-size: 22px;" class="bi bi-unlock-fill"></i></button>
            </div>
            <div class="position-absolute" style="right: 362px;top:550px;z-index: 1">
                <button class="door door-lock button-device-command button-3d button-rectangle" style="width: 40px;height: 36px;display: none;" data-device-id="95" data-command="1" data-parameter1="0"><i style="font-size: 22px;" class="bi bi-lock-fill"></i></button>
                <button class="door door-unlock button-device-command button-3d button-rectangle" style="width: 40px;height: 36px;display: none;" data-device-id="95" data-command="0" data-parameter1="0"><i style="font-size: 22px;" class="bi bi-unlock-fill"></i></button>
            </div>
            <div class="position-absolute" style="left: 103px;top:427px;z-index: 1">
                <button class="door door-lock button-device-command button-3d button-rectangle" style="width: 40px;height: 36px;display: none;" data-device-id="96" data-command="1" data-parameter1="0"><i style="font-size: 22px;" class="bi bi-lock-fill"></i></button>
                <button class="door door-unlock button-device-command button-3d button-rectangle" style="width: 40px;height: 36px;display: none;" data-device-id="96" data-command="0" data-parameter1="0"><i style="font-size: 22px;" class="bi bi-unlock-fill"></i></button>
            </div>
            <div class="position-absolute" style="left: -5px;top:40px;z-index: 1">
                <button class="door door-lock button-device-command button-3d button-rectangle" style="width: 40px;height: 36px;display: none;" data-device-id="97" data-command="1" data-parameter1="0"><i style="font-size: 22px;" class="bi bi-lock-fill"></i></button>
                <button class="door door-unlock button-device-command button-3d button-rectangle" style="width: 40px;height: 36px;display: none;" data-device-id="97" data-command="0" data-parameter1="0"><i style="font-size: 22px;" class="bi bi-unlock-fill"></i></button>
            </div>

            <div class="position-absolute" style="left: 130px;top:158px;z-index: 1;">
                <button class="button-device-command-press-release button-3d button-rectangle" style="font-size: 14px;" data-device-id="83" data-command-start="0" data-command-end="1" data-parameter1="0">Test Red Light</button>
            </div>
            <div class="position-absolute" style="left: 130px;top:211px;z-index: 1;">
                <button class="button-device-command-press-release button-3d button-rectangle" style="font-size: 14px;" data-device-id="84" data-command-start="0" data-command-end="1" data-parameter1="0">Test Amber Light</button>
            </div>
            <div class="position-absolute" style="left: 130px;top:266px;z-index: 1;">
                <button class="button-device-command-press-release button-3d button-rectangle" style="font-size: 14px;" data-device-id="85" data-command-start="0" data-command-end="1" data-parameter1="0">Test Green Light</button>
            </div>
		</div>
    </div>
    <div class="row m-0">
        <div class="col-lg-12 pt-0 pb-0 pl-2 pr-2 mt-2">
            <%- include('components/active_alarm_content') %>
        </div>
    </div>
</div>
<%- include('footer', {currentMenu: 'general-view-motors'}); %>
<script src="js/jquery-bootstrap.js"></script>
<script src="js/jquery.newsTicker.js"></script>
<script src="js/daterangepicker/moment.min.js"></script>
<script src="js/nav.js"></script>

<script>
let basic_info={}
let motorIdForDetailsView=0;
let machine_mode=0;


jQuery(document).ready(function() {
	$('[data-toggle="tooltip"]').tooltip();
    loadAndGetDetailedActiveAlarmSettings();//nav.js
	
    jQuery("#ip_list_dropdown").change(function() {
        selected_machine = jQuery(this).val();
        if(selected_machine !== "") {
            let selected_machine_name = machine_list[selected_machine];
            jQuery("#display_machine_name").text(selected_machine_name);
        }
        else {
            jQuery("#display_machine_name").text("Select a machine");
            selected_machine = 0;
        }
        ipcRenderer.send("get:views", selected_machine, "general-view-motors");
    });
});
function setMotorDetailsView(){
    if(machine_mode!=1){
        $('#motor-details #tr_speed').hide();
        $('#motor-details #command_buttons_container').hide();
        $('#motor-details').css('height','135px');

    }
    else{
        $('#motor-details #tr_speed').show();
        $('#motor-details #command_buttons_container').show();
        $('#motor-details').css('height','270').css('top','105px');
    }
}
ipcRenderer.on("render:general-view-motors", function(e, data) {
    basic_info=data;
    setBinsLabel(data['binsInfo']);//nav.js
    setEstopsLabel(data['inputsInfo']);//nav.js
    setDevicesLabel(data['devicesInfo']);//nav.js
    setConveyorsLabel(data['conveyorsInfo']);//nav.js
    setMotorsLabel(data['motorsInfo']);//nav.js

    $('.bin.cursor-pointer').on('click',function (){
        let key=$(this).attr('bin-key');
        ipcRenderer.send("render:general-view-bin-details", selected_machine,key);
    })
    $('.motor.cursor-pointer').on('click',function (){
        let motorsInfo=data['motorsInfo']
        let motor_id=$(this).attr('motor-id');
        motorIdForDetailsView=motor_id;
        setMotorDetailsView();
        $('#motor-details #speed_error').hide();
        $('#motor-details #motor_name').html(motorsInfo[selected_machine+'_'+motor_id]['motor_name'])
        $('#motor-details #location').html(motorsInfo[selected_machine+'_'+motor_id]['location'])
        $('#motor-details #ip_address').html(motorsInfo[selected_machine+'_'+motor_id]['ip_address'])
        $('#motor-details #current_speed').html('-')
        $('#motor-details').show();
    })
    $('#motor-details #close').on('click',function (){

        $('#motor-details').hide();
    })
    $('#motor-details  #button-motor-start').on('click',function (){
        if(machine_mode==1){
            let speed=$('#motor-details #speed').val()*1000;
            let motorInfo=basic_info['motorsInfo'][selected_machine+'_'+motorIdForDetailsView];
            if(speed<motorInfo['speed_min'] || speed>motorInfo['speed_max']){
                $('#motor-details #speed_max').text(motorInfo['speed_max']/1000)
                $('#motor-details #speed_min').text(motorInfo['speed_min']/1000)
                $('#motor-details #speed_error').show();
            }
            else{
                $('#motor-details #speed_error').hide();
                ipcRenderer.send("sendRequest", selected_machine,'sendDeviceCommand', {
                    'deviceId':motorIdForDetailsView-1+101,
                    'command':1,
                    'parameter1':speed
                });
            }
        }
    })
    $('#motor-details  #button-motor-stop').on('click',function (){
        if(machine_mode==1) {
            ipcRenderer.send("sendRequest", selected_machine, 'sendDeviceCommand', {
                'deviceId': motorIdForDetailsView - 1 + 101,
                'command': 0,
                'parameter1': 0
            });
        }
    })
    setInterval(() => {
        ipcRenderer.send("sendRequest", selected_machine,'getGeneralMotorsViewData', {});
    }, 1000);
});
ipcRenderer.on("getGeneralMotorsViewData", function(e, data) {
    if(data['machineMode']!=machine_mode){
        machine_mode=data['machineMode'];
        setMotorDetailsView();
    }
    let machineId=data['machineId'];
    setBinsStates(machineId,data['binsStates'],basic_info['binsInfo']);//nav.js
    setConveyorsStates(machineId,data['conveyorsStates'],basic_info['conveyorsInfo']);//nav.js
    setDoorsStates(machineId,data['inputsStates'],basic_info['doorsInfo']);//nav.js
    setActiveAlarms(machineId,data['activeAlarms'],basic_info['alarmsInfo'])//nav.js

    let motorsInfo=basic_info['motorsInfo'];
    let inputsInfo=basic_info['inputsInfo'];
    let alarmsInfo=basic_info['alarmsInfo'];
    let inputsStates=data['inputsStates'];
    let activeAlarms=data['activeAlarms'];

    if(motorIdForDetailsView>0){
        $('#motor-details #current_speed').html(data['motorsCurrentSpeed'][selected_machine+'_'+motorIdForDetailsView]/1000+ 'm/s')
        if(motorsInfo[selected_machine+'_'+motorIdForDetailsView]){
            let device_number=motorsInfo[selected_machine+'_'+motorIdForDetailsView]['device_number'];
            if(device_number>0){
                if(data['devicesStates'][[selected_machine+'_'+device_number]]){
                    if(data['devicesStates'][[selected_machine+'_'+device_number]]['device_state']==1){
                        $('#motor-details #cnx_status').css('fill','#27e22b');
                    }
                    else{
                        $('#motor-details #cnx_status').css('fill','#f00');
                    }
                }
                else{
                    $('#motor-details #cnx_status').css('fill','#f00');
                }
            }
        }
    }

    let activeAlarmsStates={};
    for(let i in activeAlarms){
        let activeAlarm=activeAlarms[i];
        activeAlarmsStates[selected_machine+'_'+activeAlarm['alarm_id']+'_'+activeAlarm['alarm_type']]=1;
    }

    // console.log(activeAlarmsStates)
    //console.log(inputsInfo)

    for(let key in motorsInfo){
        let motorInfo=motorsInfo[key]
        let inputActive=false;
        let alarmActive=false;
        if(motorInfo['input_id']>0){
            if(inputsInfo[selected_machine+'_'+motorInfo['input_id']]){
                if((inputsStates[selected_machine+'_'+motorInfo['input_id']]['input_state'])==inputsInfo[selected_machine+'_'+motorInfo['input_id']]['active_state']){
                    inputActive=true;
                }
            }
        }
        if(motorInfo['alarm_id']>0){
            if(activeAlarmsStates[selected_machine+'_'+motorInfo['alarm_id']+'_'+motorInfo['alarm_type']]){
                alarmActive=true;
            }
        }
        if(alarmActive){
            $('.motor[motor-id='+motorInfo["motor_id"]+'] .status').css('fill','#f00');
            if(motorIdForDetailsView==motorInfo["motor_id"]){
                $('#motor-details #faulted_status').css('fill','#f00');
            }
        }
        else{
            if(inputActive==1){
                $('.motor[motor-id='+motorInfo["motor_id"]+'] .status').css('fill','#27e22b');
                if(motorIdForDetailsView==motorInfo["motor_id"]){
                    $('#motor-details #faulted_status').css('fill','#27e22b');
                }
            }
            else{
                $('.motor[motor-id='+motorInfo["motor_id"]+'] .status').css('fill','#fff');
                if(motorIdForDetailsView==motorInfo["motor_id"]){
                    $('#motor-details #faulted_status').css('fill','#fff');
                }
            }

        }
    }
});
</script>
</body>
</html>