<%- include('header', {currentMenu: 'general-view-devices', pageTitle: 'Devices'}); %>
    <div class="row m-0 mt-1">
        <div class="col-4" style="padding:0 50px;text-align: center;">
			<%- include('resources/general-view-colors.svg') %>
        </div>
        <div class="col-8  position-relative" style="padding:0 50px 0 0;text-align: center;">
			<%- include('resources/general-view-devices.svg') %>
            <div class="position-absolute" style="right: 100px;top:90px;z-index: 1"><%- include('components/machine_command_buttons'); %></div>
            <div class="position-absolute" style="right: 95px;top:550px;z-index: 1">
                <button class="door door-lock button-device-command button-3d button-rectangle" style="width: 40px;height: 36px;display: none;" data-device-id="91" data-command="1" data-parameter1="0"><i style="font-size: 22px;" class="bi bi-lock-fill"></i></button>
                <button class="door door-unlock button-device-command button-3d button-rectangle" style="width: 40px;height: 36px;display: none;" data-device-id="91" data-command="0" data-parameter1="0"><i style="font-size: 22px;" class="bi bi-unlock-fill"></i></button>
            </div>
            <div class="position-absolute" style="right: 362px;top:550px;z-index: 1">
                <button class="door door-lock button-device-command button-3d button-rectangle" style="width: 40px;height: 36px;display: none;" data-device-id="92" data-command="1" data-parameter1="0"><i style="font-size: 22px;" class="bi bi-lock-fill"></i></button>
                <button class="door door-unlock button-device-command button-3d button-rectangle" style="width: 40px;height: 36px;display: none;" data-device-id="92" data-command="0" data-parameter1="0"><i style="font-size: 22px;" class="bi bi-unlock-fill"></i></button>
            </div>
            <div class="position-absolute" style="left: 103px;top:427px;z-index: 1">
                <button class="door door-lock button-device-command button-3d button-rectangle" style="width: 40px;height: 36px;display: none;" data-device-id="93" data-command="1" data-parameter1="0"><i style="font-size: 22px;" class="bi bi-lock-fill"></i></button>
                <button class="door door-unlock button-device-command button-3d button-rectangle" style="width: 40px;height: 36px;display: none;" data-device-id="93" data-command="0" data-parameter1="0"><i style="font-size: 22px;" class="bi bi-unlock-fill"></i></button>
            </div>
            <div class="position-absolute" style="left: -5px;top:40px;z-index: 1">
                <button class="door door-lock button-device-command button-3d button-rectangle" style="width: 40px;height: 36px;display: none;" data-device-id="94" data-command="1" data-parameter1="0"><i style="font-size: 22px;" class="bi bi-lock-fill"></i></button>
                <button class="door door-unlock button-device-command button-3d button-rectangle" style="width: 40px;height: 36px;display: none;" data-device-id="94" data-command="0" data-parameter1="0"><i style="font-size: 22px;" class="bi bi-unlock-fill"></i></button>
            </div>

            <div class="position-absolute" style="left: 130px;top:158px;z-index: 1;">
                <button class="button-device-command-press-release button-3d button-rectangle" style="font-size: 14px;" data-device-id="83" data-command-start="0" data-command-end="1" data-parameter1="0">Test Red Light</button>
            </div>
            <div class="position-absolute" style="left: 130px;top:211px;z-index: 1;">
                <button class="button-device-command-press-release button-3d button-rectangle" style="font-size: 14px;" data-device-id="84" data-command-start="0" data-command-end="1" data-parameter1="0">Test Amber Light</button>
            </div>
            <div class="position-absolute" style="left: 130px;top:266px;z-index: 1;">
                <button class="button-device-command-press-release button-3d button-rectangle" style="font-size: 14px;" data-device-id="85" data-command-start="0" data-command-end="1" data-parameter1="0">Test Green Light</button>
            </div>
		</div>
    </div>
    <div class="row m-0">
        <div class="col-lg-12 pt-0 pb-0 pl-2 pr-2 mt-2">
            <%- include('components/active_alarm_content') %>
        </div>
    </div>
</div>
<%- include('footer', {currentMenu: 'general-view-devices'}); %>
<script src="js/jquery-bootstrap.js"></script>
<script src="js/jquery.newsTicker.js"></script>
<script src="js/daterangepicker/moment.min.js"></script>
<script src="js/nav.js"></script>

<script>
let basic_info={}


jQuery(document).ready(function() {
	$('[data-toggle="tooltip"]').tooltip();
    loadAndGetDetailedActiveAlarmSettings();//nav.js
	
    jQuery("#ip_list_dropdown").change(function() {
        selected_machine = jQuery(this).val();
        if(selected_machine !== "") {
            let selected_machine_name = machine_list[selected_machine];
            jQuery("#display_machine_name").text(selected_machine_name);
        }
        else {
            jQuery("#display_machine_name").text("Select a machine");
            selected_machine = 0;
        }
        ipcRenderer.send("get:views", selected_machine, "general-view-devices");
    });
});

ipcRenderer.on("render:general-view-devices", function(e, data) {
    basic_info=data;
    setBinsLabel(data['binsInfo']);//nav.js
    setEstopsLabel(data['inputsInfo']);//nav.js
    setDevicesLabel(data['devicesInfo']);//nav.js
    setConveyorsLabel(data['conveyorsInfo']);//nav.js

    $('.bin.cursor-pointer').on('click',function (){
        let key=$(this).attr('bin-key');
        ipcRenderer.send("render:general-view-bin-details", selected_machine,key);
    })
    setInterval(() => {
        ipcRenderer.send("sendRequest", selected_machine,'getGeneralDevicesViewData', {});
    }, 1000);
});
ipcRenderer.on("getGeneralDevicesViewData", function(e, data) {
    let machineId=data['machineId'];
    setBinsStates(machineId,data['binsStates'],basic_info['binsInfo']);//nav.js
    setConveyorsStates(machineId,data['conveyorsStates'],basic_info['conveyorsInfo']);//nav.js
    setEstopsStates(machineId,data['inputsStates'],basic_info['inputsInfo']);//nav.js
    setDevicesStates(machineId,data['devicesStates'],basic_info['devicesInfo']);//nav.js
    setDoorsStates(machineId,data['inputsStates'],basic_info['doorsInfo']);//nav.js
    setActiveAlarms(machineId,data['activeAlarms'],basic_info['alarmsInfo'])//nav.js

});
</script>
</body>
</html>